POSTGRES_SUPERUSER=postgres
POSTGRES_SUPERPASS=change-me-superuser

DEV_DB_NAME=gamyeon

SPRING_DB_USER=gamyeon_spring
SPRING_DB_PASSWORD=change-me-spring

BACKOFFICE_DB_USER=gamyeon_backoffice
BACKOFFICE_DB_PASSWORD=change-me-backoffice

POSTGRES_PORT=5432
